{% extends 'base.html' %} {% block content %}
<h1 class="text-center mb-3 text-info font-weight-bold">Dashboard</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Date Published</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <td>{{post.title}}</td>
      <td>{{post.date}}</td>
      <td>
        <a href="{% url 'edit_post' post.id %}" class="btn btn-warning btn-sm">
          Edit
        </a>
        <form
          action="{% url 'delete_post' post.id %}"
          method="POST"
          class="d-inline"
        >
          {% csrf_token %}
          <button class="btn btn-danger btn-sm" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
